<section id="menu">

    <!-- Search -->
        <section>
            <form class="search" method="get" action="#">
                <input type="text" name="query" placeholder="Search" />
            </form>
        </section>

    <!-- Links -->
        <section>
            <nav class="links">
                <ul class="links">
                    <li><a href="{{ site.url }}/blog">Home</a></li>
                </ul>
            </nav>
        </section>

    <!-- Actions -->
        <section>
            <ul class="actions vertical">
                <li><a href="#" class="button big fit">Log In</a></li>
            </ul>
        </section>

</section>